<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgovea.urmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/urmusic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".posts.ExampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".TesteLogin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TesteLogin" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecoveryActivity"
            android:label="@string/title_recovery_activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TesteLogin" />
        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".TesteLogin"
            android:label="@string/title_activity_teste_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GostoMusicalActivity"
            android:label="@string/title_activity_gosto_musical"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GostoFavoritoActivity"
            android:label="@string/title_activity_gosto_favorito"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".principal.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />

        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgovea.urmusic.principal.MainActivity" />
        </activity>
        <activity
            android:name=".profile.ProfileTabbedActivity"
            android:label="@string/title_activity_profile_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".profile.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:parentActivityName=".profile.ProfileTabbedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgovea.urmusic.profile.ProfileTabbedActivity" />
        </activity>
        <activity
            android:name=".profile.EditPasswordActivity"
            android:label="@string/title_activity_edit_password"
            android:parentActivityName=".profile.ProfileTabbedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgovea.urmusic.profile.ProfileTabbedActivity" />
        </activity>
        <activity
            android:name=".posts.comments.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:parentActivityName=".posts.ExampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgovea.urmusic.posts.ExampleActivity" />
        </activity>
        <activity
            android:name=".TesteActivityStorage"
            android:label="@string/title_activity_teste_storage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".principal.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgovea.urmusic.principal.MainActivity" />
        </activity>
    </application>

</manifest>