<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.puccamp.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/urmusic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".posts.ExampleActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.puccamp.app.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".DefaultActivity"
            android:label="@string/title_activity_default"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RecoveryActivity"
            android:label="@string/title_recovery_activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IntroActivity"
            android:theme="@style/Theme.Intro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TesteLogin"
            android:label="@string/title_activity_teste_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GostoMusicalActivity"
            android:label="@string/title_activity_gosto_musical"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".principal.MainActivity"></activity>
    </application>

</manifest>